<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <% if (user) { %>
    <a href="/auth/sign-out">Sign Out</a>  
    <% } %>
   </nav> 


    <% if (user) { %>
        <h1>Welcome <%= user.username %>!</h1>
        <p><a href="/auth/sign-out">Sign out</a></p>
        <% } else { %>
        <h1>Welcome guest!</h1>
        <p>
          <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>
        </p>
        <% } %>

</body>
</html>